<h1>Editing page</h1>

<% form_for @page, :url => { :controller => "admin/pages", :action => "update" } do |f| %>
  <%= f.error_messages %>

	<%= f.textarea %> %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>


<%= link_to 'Show', account_page_path(@account, @page) %> |
<%= link_to 'Back', account_pages_path %>