<div id="comments" class="index">

<div class="title_bar clearfix">
	<h1>Listing Comments</h1>

	<%= #button_link_to 'Clear all flags', clear_all_flags_account_comments_path(@account), :confirm => "Are you sure?" 
	-%>
</div>

<div class="select_all_wrap clearfix">
	<input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label>
</div>

<% form_tag bulk_action_account_comments_url(@account), :method => :post do %>
<%= hidden_field_tag "content_types[]", 'comments'%>
<%= hidden_field_tag "action_name", '', :id=>"comment_action_name"%>


	<div id="actions" class="clearfix">
		<%= button_link_to_submit "Clear flags", :onclick => "$('comment_action_name').value='clear';return true;", :class => "pill-l" %>
		<%= button_link_to_submit "Remove", :onclick => "$('comment_action_name').value='remove';return true;", :class => "pill-c" %>
		<%= button_link_to_submit "Mark as Spam", :onclick => "$('comment_action_name').value='spam';return true;", :class => "pill-c" %>		
	</div>

</div>

<div class="top_pagination clearfix">
	<div id="" class="">
		<%= page_entries_info @comments %>
	</div>
	<%= will_paginate(@comments, :inner_window => 1, :outer_window => 1) %>
</div>

<div class="comments">
<table>

	<tbody id="the-comment-list" class="list:comment">
		<%= render :partial => "comment", :collection => @comments %>
	</tbody>

</table>
</div>
<% end %>


<% content_for :javascript do -%>
<script type="text/javascript" charset="utf-8">
		var page_overlay = new Overlay();
		
		load_button_fix(); //fix firefox button display

		//Load each article <li> as a Card and check to see if any checkboxes are pre-checked and need to be pre-selected 
		$('comments').select('ol#comments_list>li').each( function (t) { a = new Card(t); if (a.checkbox.checked) a.select(); });
	
	
	// Activate table header checkboxes select_all functionality
	$$('.select_all').each(	function(element) { 
			Event.observe(element, 'click', function( event ) { 
					if (element.checked){ 
						$$('ol#comments_list>li').each(
								function(el){ 
									el.card.select(); 
								}
						); 
						$$('.select_all').each(
							function(el) {
								el.checked = true;
							}
						);						
					} else {
						$$('ol#comments_list>li').each( 	
							function(el){ 
								el.card.deselect(); 
							}
						); 
						$$('.select_all').each(
							function(el) {
								el.checked = null;
							}
						);
					} 
			})
	});
	
</script>
<% end -%>

</div>