<div id="design_form" class="form clearfix">
	<p class="back_link"><%= link_to '&laquo; Back to design', account_design_path(@account, @design) %></p>
	<h1>Edit design details</h1>

	<% form_for([@account, @design]) do |f| %>
	  <%= f.error_messages %>

	  <div class="form_element">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="form_element">
	    <%= f.label :description %><br />
	    <%= f.text_area :description, :rows => "4" %>
	  </div>
	<% if @account.id == 1 %>
	 <div class="form_element">
		<%= f.label :public, "Public?" %>
		<%= f.check_box :public %>
		<small>If checked, this design will be available for others to import.</small>
	 </div>
	<% end %>
	  <div class="form_element" style="display:inline; float: right;">
	    <%= button_link_to_submit 'Update', :class => "larger save" %>
	  </div>
	<% end %>
</div>