<div id="design" class="clearfix">	
	<h2>Site design</h2>
	<h1 class="design_name"><%=h @design.name %></span></h1>
	
	<div class="options">
		<span class="default_layout">
		<% if @design.layouts.blank? -%> 
			<%= link_to "Create a layout template", new_account_design_template_path(@account, @design, :role => 'layout') %> 
		<% else -%>
			<% form_for [@account, @design] do |f| %> 
			    Default layout: 
		  		<%= f.collection_select :layout_id, @design.layouts, :id, :name, :include_blank => "No default" %>
				<%= button_link_to_submit "Update" %>
			<% end %>
		<% end -%>
		</span>
		<%= button_link_to 'Edit design details', edit_account_design_path(@account, @design), :class=>"large" %> 
	</div>
	
	<div class="description">
		<% if @design.description.blank? %>
			<p><%= link_to "Add a description", edit_account_design_path(@account, @design) %> for this design.</p>	
		<% else %>
			<%= markdown @design.description %>
		<% end %>
	</div>

	<div id="templates">
		<h2>Templates</h2>
		<div id="front_page_templates" class="clearfix">
			<h3>Front Pages</h3><%= button_link_to 'New', new_account_design_template_path(@account, @design, :role => 'front_pages/show'), :class=>"micro primary" %>
			<ul>
			<% for template in @design.front_page_templates -%>
				<li class="front_page_template">
					<%= link_to template.name, edit_account_design_template_path(@account, @design, template) %> <%= link_to "x", account_design_template_path(@account, @design, template), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{template.name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %> <span class="last_updated"><%= template.created_at==template.updated_at ? "Created " : "Last updated "  %><%= template.updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="page_templates" class="clearfix">
			<h3>Pages</h3><%= button_link_to 'New', new_account_design_template_path(@account, @design, :role => 'articles/show'), :class=>"micro primary" %>
			<ul>
			<% for template in @design.page_templates -%>
				<li class="page_template">
					<%= link_to template.name, edit_account_design_template_path(@account, @design, template) %> <%= link_to "x", account_design_template_path(@account, @design, template), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{template.name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %> <span class="last_updated"><%= template.created_at==template.updated_at ? "Created " : "Last updated "  %><%= template.updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="partial_templates" class="clearfix">
			<h3>Partials</h3><%= button_link_to 'New', new_account_design_template_path(@account, @design, :role => 'partial'), :class=>"micro primary" %>
			<ul>
			<% for template in @design.partial_templates -%>
				<li class="partial">
					<%= link_to template.name, edit_account_design_template_path(@account, @design, template) %> <%= link_to "x", account_design_template_path(@account, @design, template), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{template.name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %> <span class="last_updated"><%= template.created_at==template.updated_at ? "Created " : "Last updated "  %><%= template.updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="layouts" class="clearfix">
			<h3>Layouts</h3><%= button_link_to 'New', new_account_design_template_path(@account, @design, :role => 'layout'), :class=>"micro primary" %>
			<ul>
			<% for template in @design.layouts -%>
				<li class="layout">
					<%= link_to template.name, edit_account_design_template_path(@account, @design, template) %>  <%= link_to "x", account_design_template_path(@account, @design, template), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{template.name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %> <span class="last_updated"><%= template.created_at==template.updated_at ? "Created " : "Last updated "  %><%= template.updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="stylesheets" class="clearfix">
			<h3>Stylesheets</h3><%= button_link_to_remote 'New', :url => new_account_design_template_file_path(@account, @design, :type => 'stylesheet'), :method => :get, :class=>"micro primary" %>
			<ul>
			<% for stylesheet in @design.stylesheets %>
				<li class="stylesheet">
					<%= link_to stylesheet.file_name, edit_account_design_template_file_path(@account, @design, stylesheet) %><%= link_to "x", account_design_template_file_path(@account, @design, stylesheet), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{stylesheet.file_name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %>  <span class="last_updated"><%= stylesheet.created_at==stylesheet.file_updated_at ? "Created " : "Last updated "  %><%= stylesheet.file_updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="javascripts" class="clearfix">
			<h3>Javscript files</h3><%= button_link_to_remote 'New', :url => new_account_design_template_file_path(@account, @design, :type => 'javascript'), :method => :get, :class=>"micro primary" %>
			<ul>
			<% for javascript_file in @design.javascript_files %>
				<li class="javascript_file">
					<%= link_to javascript_file.file_name, edit_account_design_template_file_path(@account, @design, javascript_file)  %><%= link_to "x", account_design_template_file_path(@account, @design, javascript_file), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{javascript_file.file_name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %> <span class="last_updated"><%= javascript_file.created_at==javascript_file.file_updated_at ? "Created " : "Last updated "  %><%= javascript_file.file_updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="template_media" class="clearfix">
			<h3>Template media</h3><%= button_link_to_remote 'New', :url => new_account_design_template_file_path(@account, @design), :method => :get, :class=>"micro primary" %>
			<ul>
			<% for template_file in @design.template_files.select{ |t| t.class == TemplateFile } %>
				<li class="template_file">
					<%= link_to template_file.file_name, template_file.file.url %> <%= link_to "x", account_design_template_file_path(@account, @design, template_file), :method => :delete, :confirm => "Are you sure you want to delete\n\n#{template_file.file_name}\n\nfrom this design? Once deleted it can't be recovered.", :class=>"kill_link" %> <span class="last_updated"><%= template_file.created_at==template_file.file_updated_at ? "Created " : "Last updated "  %><%= template_file.file_updated_at.to_s(:standard) %></span>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
<% content_for :javascript do -%>
	<script type="text/javascript" charset="utf-8">
		var page_overlay = new Overlay();
	</script>
<% end -%>