<h1>{{article.title}}</h1>

{% for image in article.images %}	
<div class="grid_6 media alpha">
	<img src="{{image}}" / width="340">
	<small>Martha Pearce</small>
	<p>Re-elected SFUO VP Finance Roxanne Dubois disapproves of the SAC's arbitration process.</p>
</div>
{% endfor %}
	
<h2 class="subhead">{{article.subtitle}}</h2>
<p class="dateline">{{article.published_at}}</p>
<p class="byline">by {{article.authors_list}}</p>

{{ article.bodytext | markdown }}