<div class="article-meta">
	<span class="article-meta-elements">
			<span class="small quiet date">{{article.published_at | fuzzy_time }}</span>
		<span class="comments small"></span>
	</span>
</div>

	<h1>{{article.title}}</h1>



<div class="article-meta2 dotted-border">

	<h2 class="subtitle">{{article.subtitle}}</h2>	

		<p>{{article.authors_list}}</p>
</div>

{{ "asd" | test }}

{% include 'layouts/footer' %}

<div class="article-body" style="">
	{{ article.bodytext | markdown }}
</div> <!-- /article_body -->





<div id="comments" class="clear">
</div><!-- /comments -->

