<% for @comment in @comments %>
	<%= @comment.article.title %>
	<% if @comment.class == FacebookComment %>
		<%= render :partial => "facebook_comment", :locals => {:comment => @comment } %>
	<% else %>
		<%= render :partial => "comment", :locals => {:comment => @comment } %>
	<% end %>
<% end %>

<%= fb_login_button('window.location = "/users/link_user_accounts";')%>

<p><a href="#" onclick='FB.Connect.logout()'>Logout</a></p>

<%= init_fb_connect "XFBML"%>
