<h1>Listing templates</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Name</th>
    <th>Description</th>
    <th>Role</th>
    <th>Code</th>
    <th>Parsed code</th>
  </tr>

<% @tplates.each do |template| %>
  <tr>
    <td><%=h template.account_id %></td>
    <td><%=h template.name %></td>
    <td><%=h template.description %></td>
    <td><%=h template.role %></td>
    <td><%=h template.code %></td>
    <td><%=h template.parsed_code %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_account_template_path(@account, template) %></td>
    <td><%= link_to 'Destroy', [@account, template], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New template', new_account_template_path(@account) %>