<p><%= link_to 'Back to design', account_design_path(@account, @design) %></p>

<p>
  <b>Name:</b>
  <%=h @tplate.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @tplate.description %>
</p>

<p>
  <b>Role:</b>
  <%=h @tplate.role %>
</p>

<% if @tplate.is_a? PageTemplate -%>
<p>
  <b>Layout:</b>
  <%=h @tplate.layout.blank? ? "Design default" : @tplate.layout.name %>
</p>
<% end -%>

<p>
  <b>Code:</b>
  <%=h @tplate.code %>
</p>


<%= link_to 'Edit', edit_account_design_template_path(@account, @design, @tplate) %>
