<div class="comment  <%= cycle("comment-odd", "comment-even") %>">
    <div class="span-4"><%= sanitize (markdown comment.body) %></div>


    <div class="span-2 last comment-meta">
		<span><%= gravatar_for comment unless comment.email.nil? %></span>
		
		<br/>
	
        <span><strong><%= comment.name %></strong></span><br/>
        <span><%= time_ago_in_words(comment.created_at) %> ago</span><br/>
		<span id="comment_<%= comment.id %>"class="smallText"><%= link_to_remote "(flag)",
																		 :url => { :controller => :comments, :action => "flag", :id => comment.id },
																		 :loading => "Effect.BlindUp('comment_#{comment.id}');",
																		 :success => "Effect.BlindDown('flagged_#{comment.id}');" %></span>
			<span id="flagged_<%= comment.id %>"class="smallText" style="display:none;color:red;">Flagged</span>
    </div><a name="comment_<%= comment.id %>"></a>

    <div class="clear">&nbsp;</div>

</div>
