<div id="dashboard">
	<h2>Publisher</h2>
	<h1>Dashboard</h1>
	
	<div class="options">
		<%=button_link_to_remote "New front page", :url => new_account_front_page_url(@account), :method => :get, :html => { :class=>"large pill-l" } %><% if @account.current_design -%><%= button_link_to "Edit current design", account_design_path(@account, @account.current_design), :class=>"large pill-c" %><% end -%><%= button_link_to "Change design", account_designs_url(@account), :class=>"large pill-c" %><%= button_link_to "Take site offline", take_offline_account_url(@account), :method => :post, :confirm => "You are about to take you site completely offline. Readers visiting your site will see a notice telling them that your site is temporarily offline.\n\nAre you sure you want to take your site offline?", :class=>"large cancel pill-r" %>
	</div>
	
	<div class="guide">
		<p>From this page you can control the current content and appearance of your publication's website.</p>
		<p><strong>Be careful when making changes</strong> as the changes you make here will instantly affect how your site appears to readers.</p> 
	</div>
	
	<div id="control_panel">
		<div id="front_page_control" class="clearfix">
			<h2>Front page</h2>		
			<div id="current_front_page">
				<h3>Current front page</h3>
				
				<% if @account.current_front_page.blank? %>
					<p>No current front page</p>
					<p>
				<% else %>
					<p><%= @account.current_front_page.created_at.to_s(:standard) %> - <%= @account.current_front_page.name %></p>
				<% end%>
			</div>
			
			<div id="change_front_page">
			<h3>Change</h3>
				<% if @account.designs.blank? %>
					<p>You'll need at least one design in order to create a front page, please <%= link_to "create your first design", new_account_design_path(@account) %></p>
				<% elsif @account.front_pages.blank? %>
					<p><%= link_to "Create your first front page", new_account_front_page_path(@account) %></p>
				<% else %>
					<%- form_for([@account, @press_run], :html => { :onsubmit => "confirm('Are you sure you want to change your current front page? This change will be effective immediately.')" }) do |r| -%>
						<p>You can change your front page by selecting a new one here. <strong>Change your front page as often as you can</strong>, even if you haven't added new content recently.</p>
						<%= r.collection_select :front_page_id, @account.front_pages, :id, :created_at, :prompt => "Choose new front page" %>
						<%= button_link_to_submit "Update", :confirm => "Are you sure you want to update your front page? This change will be effective immediately." %>
					<%- end -%>
				<% end %>
			</div>
			
		</div>
		<% if @account.current_design %>
			<div id="widget_control" class="clearfix">
				<h2>Current widgets</h2> <%= button_link_to_remote "New", :url => new_account_design_widget_path(@account, @account.current_design), :method => :get, :class=>"micro primary" %>
				<ul id="widgets">
					<% for widget in @account.current_design.widgets %>
						<li>
							<%= link_to "x", account_design_widget_path(@account, @account.current_design, widget), :method => :delete, :confirm => "Are you sure you want to remove this widget? You can always recreate it later.\n\nPress 'OK' to delete.", :class => "kill_link", :style => "color:red;float:right;margin-right: 3px; margin-top:3px;" %>
							<p><%= link_to widget.name, edit_account_design_widget_path(@account, @account.current_design, widget) %></p>
							<p><% for template in widget.templates %><%= "#{template.name}, " %><% end %></p>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	
</div><!-- /#dashboard -->

<% content_for :javascript do -%>
	<script type="text/javascript" charset="utf-8">
		var page_overlay = new Overlay();
		load_button_fix(); //fix firefox button display
	</script>
<% end -%>