<div id="dashboard">
	<h2>Publisher</h2>
	<h1>Control Panel</h1>
	
	<div class="guide">
		<p>From this page you can control the current content and appearance of your publication's website.</p>
		<p><strong>Be careful when making changes</strong> as the changes you make here will instantly affect how your site appears to readers.</p> 
		<div class="options">
			<%= button_link_to "View site", account_path(@account), :class=>"larger", :target => "_blank" %>
		</div>
	</div>
	
	<div id="control_panel">
		<div id="front_page_control" class="clearfix">
			<h2>Current front page</h2><% if @account.current_design %><% if @account.current_front_page %><%= button_link_to "Edit current front page", edit_account_front_page_path(@account, @account.current_front_page), :class=>"small primary pill-l" %><%= button_link_to_remote "New front page", :url => new_account_front_page_path(@account), :method => :get, :html => { :class => "pill-r" }  %><% else %><%= button_link_to_remote "New front page", :url => new_account_front_page_path(@account), :method => :get %><% end %><% end %>
			<% if @account.current_front_page.blank? %>
				<h3 style="margin-left: 60px;">No current front page</h3>
				<div class="column_holder" style="width: 100%; float: left; clear: left;">
			<% else %>
				<div class="column_holder" style="width: 100%; float: left; clear: left;">
				  <% unless @account.current_front_page.name.blank? %>
					<div class="third_column left_column">
						<h3>Name</h3>
					</div>
					<div class="two_thirds_column right_column">
						<p><%= @account.current_front_page.name %></p>
					</div>
				  <% end %>
					<div class="third_column left_column">
						<h3>Live since</h3>
					</div>
					<div class="two_thirds_column right_column">
						<p style="color: purple;"><%= "#{@account.current_press_run.updated_at.to_s(:standard)} (#{time_ago_in_words(@account.current_press_run.updated_at)} ago)" %></p>
					</div>
					<div class="third_column left_column">
						<h3>Last updated</h3>
					</div>
					<div class="two_thirds_column right_column">
						<% if @account.current_front_page.updated_at > 7.days.ago %>
						<p style="color: green;"><%= "#{@account.current_front_page.updated_at.to_s(:standard)} (#{time_ago_in_words(@account.current_front_page.updated_at)} ago)" %></p>
						<% else %>
						<p style="color: red;"><%= @account.current_front_page.updated_at.to_s(:standard) %></p>
						<% end %>
					</div>
					<div class="third_column left_column">
						<h3>Template</h3>
					</div>
					<div class="two_thirds_column right_column">
						<p><%= link_to @account.current_front_page.template.name, edit_account_design_template_path(@account, @account.current_design, @account.current_front_page.template) if @account.current_design %>
						</p>
					</div>
			<% end %>
			<div class="third_column left_column">
				<h3>Drafts</h3>
			</div>
			<div class="two_thirds_column right_column">
				<ol>
					<% for front_page in @draft_front_pages %>
					<li>
						<h5><%= front_page.name.blank? ? "Draft front page" : front_page.name %></h5> <%= button_link_to "Edit", edit_account_front_page_path(@account, front_page), :class=>"micro pill-l" %><%= button_link_to "Preview", account_front_page_path(@account, front_page), :target => "_blank", :class=>"micro pill-c" %><%= button_link_to "Run", account_front_page_path(@account, front_page, :publish => 1), :method =>:put, :confirm => "Make this your current front page? This will take effect immediately." ,:class=>"micro save pill-r" %> <%= link_to "x", account_front_page_url(@account, front_page), :method => :delete, :confirm => "Delete this front page draft?", :class => "kill_link" %>
						<p class="template_name"><%= front_page.template.name %></p>
						<div>Last updated <%= front_page.updated_at.to_s(:standard) %></div>
					</li>
					<% end %>
					<% if @draft_front_pages.empty? %>
					<li style="background:none;"><h5><em>No drafts</em></h5></li>
					<% end %>
				</ol>
			</div>
		</div>
		<% if @account.current_design %>
			<div id="widget_control" class="clearfix">
				<h2>Widgets</h2> <%= button_link_to_remote "New", :url => new_account_design_widget_path(@account, @account.current_design), :method => :get, :class=>"micro primary" %>
				<ul id="widgets" class="clearfix">
					<% for widget in @account.current_design.widgets %>
						<li>
							<h4><%= widget.name %></h4>
							<p><%= widget.template.name %></p>
							<h5>Last updated</h5>
							<% if widget.updated_at > 7.days.ago %>
							<p class="updated_at" style="color:green;"><%= time_ago_in_words(widget.updated_at) %> ago</p>
							<% else %>
							<p class="updated_at" style="color:red;"><%= time_ago_in_words(widget.updated_at) %> ago</p>
							<% end %>
							<h5>Templates</h5>
							<% unless widget.templates.blank? %>
							 <ul class="clearfix">
								<% for template in widget.templates %>
								<li><%= link_to template.name, edit_account_design_template_path(@account, @account.current_design, template) %></li>
								<% end %>
							 </ul>
							<% else %>
							  <p><em>Not currently in use.</em></p>
							<% end %>
							<%= button_link_to "Edit widget", edit_account_design_widget_path(@account, @account.current_design, widget), :class=>"large extra_wide" %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div id="design_control" class="clearfix">
			<h2>Design</h2><% unless @account.current_design.blank? %><%= button_link_to "Edit current design", account_design_path(@account, @account.current_design), :class=>"micro primary" %><% end %>
			<div>
			<% if @account.designs.blank? %>
				<%= link_to "Create first design", new_account_design_path(@account) %>
			<% else %>
				<%- form_for([@account, @redesign], :html => { :onsubmit => "confirm('Are you sure you want to change your current site design? This change will be effective immediately.')" } ) do |r| -%>
					<p>You can make a new site design the one users see when they visit your page by selecting it here.</p>
					<label>Current design: </label><%= r.collection_select :design_id, @account.designs, :id, :name, :include_blank => "No design (take site offline)" %>
					<%= button_link_to_submit "Swap design", :class=>"save"  %>
				<%- end -%>
			<% end %>
			</div>
		</div>
	</div>
	
</div><!-- /#dashboard -->

<% content_for :javascript do -%>
	<script type="text/javascript" charset="utf-8">
		var page_overlay = new Overlay();
		load_button_fix(); //fix firefox button display
	</script>
<% end -%>