<div id="front_page_form">
	<div class="form_title clearfix">
		<h1>Edit Front Page</h1>	
		<%= f.error_messages %>
		<%= f.hidden_field :template_id %>
		<div class="schema_builder clearfix">
		 	<%= render :partial => 'schema_builder', :locals => { :f => f } %>
		</div>

	</div>


	<div class="name_desc clearfix">
			<div class="button">
				<div class="template">
					<h3>Template:</h3>
					<p><%= link_to f.object.template.name, edit_account_design_template_url(@account, @account.current_design, f.object.template) %></p>
				</div>
				<% if f.object == @account.current_front_page %>
					<div id="status" class="current">
					Current front page
					</div>					
				<% else %>
					<div id="status" class="draft">
					Draft front page
					</div>
				<% end %>
		  		<% if f.object == @account.current_front_page %>
					<%= button_link_to_submit 'Publish changes', :class => "large publish pill-r" %>
				<% else %>
					<%= button_link_to_submit "Save draft", :class=>"large pill-l" %><%= button_link_to_submit 'Save & publish', :onclick =>"$('publish').value=1;", :class => "large publish pill-r" %>
				<% end %>
				<%= hidden_field_tag :publish, 0 %>
			</div>
		    <div class="details column_holder">
				<div class="quarter_column">
				<%= f.label :name %> <small>(optional)</small><br />
		    	<%= f.text_field :name %>
				</div>
				<div class="two_thirds_column">
		    	<%= f.label :description %> <small>(optional)</small><br />
		    	<%= f.text_area :description, :rows => 2 %>
				</div>
			</div>
			<%= render :partial => 'loaded_articles', :locals => { :f => f.object }  %>
	</div>
</div>
<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
	$('articles_list').childElements().each( function(li){ 
		new Draggable(li.down(), { revert: true }); 
	});
	$$('fieldset.entity ol li').each( function(article_slot) {
		Droppables.add(article_slot, { onDrop: function( new_article, spec_holder ){
			 	var new_article_id = new_article.id.split('_').pop();
				var spec_holder_id = spec_holder.id.split('_').pop();
				spec_holder.down().value = new_article_id;
				spec_holder.down().next().next().innerHTML = new_article.innerHTML;
				//alert('Dropped \n\n' + new_article_id + "\n\non\n\n" + spec_holder_id ); 
		}});
	});
	empty_schema_position = function( schema_element ) {
		schema_element.down().value = "";
		schema_element.down().next().next().remove();
		schema_element.insert( Builder.node('div', {className: 'clearfix'}, Builder.node('p', 'Nothing in this position')) );
	}
</script>
<% end %>