<h1>Edit Front Page</h1>
<% form_for([@account, @front_page]) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= button_link_to_submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Show', [@account, @front_page] %> |
<%= link_to 'Back', account_front_pages_path(@account) %>